*,
html {
    scroll-behavior: smooth;
}


:root {
    --dark-blue: #2E5077;
    --light-gray: #EEF4F5;
    --light-blue: #2e50777e;
    --white: #FFFFFF;
    --gray: #c8c8c8;
    --dark-gray: #5c5b5b;
    --black: #000000;
}

/* theme background color */
.bg-d-blue {
    background-color: var(--dark-blue);
}

.bg-l-gray {
    background-color: var(--light-gray);
}

.bg-l-blue {
    background-color: var(--light-blue);
}

.bg-white {
    background-color: var(--white);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-black {
    background-color: var(--black);
}

.bg-d-gray {
    background-color: var(--dark-gray);
}

/* theme text color */

.tx-d-blue {
    color: var(--dark-blue);
}

.tx-gray {
    color: var(--gray);
}

.tx-white {
    color: var(--white);
}

.tx-black {
    color: var(--black);
}

.tx-d-gray {
    color: var(--dark-gray);
}


/* container */
.main-section {
    max-width: 110rem;
    width: 95%;
}

.hero-first-bg {
    background: url('/public/images/decorfurniture.webp');
    background-size: cover;
}

.hero-second-bg {
    background: url('/public/images/mobileweb.webp');
    background-size: cover;
}

.hero-third-bg {
    background: url('/public/images/treeweb.webp');
    background-size: cover;
}

.box-shadow{
    box-shadow: 4px 4px 12px -3px black;
}

/* first section Particle */
#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
}

.contact-bg {
    background-image: url('/images/contact-img.webp');
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}

.contact-bg input,
.contact-bg select,
.contact-bg textarea {
    border: 2px solid #fff;
    outline: none;
    width: 100%;
    color: var(--white);
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 20px;
}
.contact-bg input.form-control {
    width: 100% !important;
    background-color: transparent !important;
    border: 2px solid #fff;
    font-size: 20px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-radius: 8px !important;
}

.contact-bg .react-tel-input {
    margin-bottom: 20px;
}

.contact-bg select option {
    color: var(--black);
}

.contact-bg input::placeholder,
.contact-bg textarea::placeholder {
    color: var(--white);
}

.contact-bg input[type=submit] {
    width: unset;
    background-color: var(--dark-blue);
    border: 0;
    cursor: pointer;
    padding: 10px 40px;
}

.mobile-menu.active {
    animation: zoom 0.9s ease-in-out;
}

@keyframes zoom {
    0% {
        scale: 0;
    }

    50% {
        scale: 1.02;
    }

    100% {
        scale: 1;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contact-bg {
        height: 712px;
    }
}

@media (max-width: 767px) {
    .contact-bg {
        height: 715px;
        background-attachment: unset;
    }
}