:root {
    --dark-blue: #2E5077;
    --light-gray: #EEF4F5;
    --light-blue: #2e50777e;
    --white: #FFFFFF;
    --gray: #c8c8c8;
    --dark-gray: #5c5b5b;
    --black: #000000;
}

/* theme background color */
.bg-d-blue {
    background-color: var(--dark-blue);
}

.bg-l-gray {
    background-color: var(--light-gray);
}

.bg-l-blue {
    background-color: var(--light-blue);
}

.bg-white {
    background-color: var(--white);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-black {
    background-color: var(--black);
}

.bg-d-gray {
    background-color: var(--dark-gray);
}

/* theme text color */

.tx-d-blue {
    color: var(--dark-blue);
}

.tx-gray {
    color: var(--gray);
}

.tx-white {
    color: var(--white);
}

.tx-black {
    color: var(--black);
}

.tx-d-gray {
    color: var(--dark-gray);
}


/* container */
.main-section {
    max-width: 110rem;
    width: 95%;
}

.hero-first-bg {
    background: url('/public/images/decorfurniture.webp');
    background-size: cover;
}

.hero-second-bg {
    background: url('/public/images/mobileweb.webp');
    background-size: cover;
}

.hero-third-bg {
    background: url('/public/images/treeweb.webp');
    background-size: cover;
}

/* first section Particle */
#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
}

/* buttons */